:root {
  --black: black;
  --white: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero_section {
  width: 100vw;
  min-height: 100vh;
  background-image: var(--image-4b4df09), var(--image-i55328ed9);
  background-position: 100% 110%, 140% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.hero_container {
  max-width: 1000px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  display: flex;
}

.logo_image {
  width: 280px;
  height: 140px;
  object-fit: cover;
}

.hero_head {
  color: #136462;
  text-align: center;
  margin-bottom: 20px;
  font-family: Playfair Display, sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 72px;
}

.hero_para {
  color: var(--black);
  text-align: center;
  margin-top: 20px;
  font-family: Inter Tight, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
}

.hero_button_wrapper {
  margin-top: 20px;
  display: flex;
}

.button_1 {
  width: 136px;
  height: 42px;
  border: .5px solid #8f1e90;
  border-radius: 26px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button_1:hover {
  transform: scale(1.02);
}

.b1-txt {
  color: #8f1e90;
  margin-right: 5px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.b1-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.button_2 {
  width: 170px;
  height: 42px;
  background-color: #8f1e90;
  border-radius: 26px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button_2:hover {
  transform: scale(1.02);
}

.b2-txt {
  color: var(--white);
  margin-right: 5px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.b2-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.flex-body {
  min-height: 100vh;
  background-image: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-wrapper {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 14px 20px 13px;
  font-weight: 500;
  text-decoration: none;
  transition: box-shadow .2s;
  box-shadow: 0 0 #000;
}

.button-wrapper:hover {
  box-shadow: 0 4px 15px -3px rgba(0, 0, 0, .64);
}

.modal-wrapper {
  z-index: 99999;
  perspective: 850px;
  cursor: default;
  justify-content: center;
  align-items: center;
  padding: 40px;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-body {
  z-index: 10;
  color: #313131;
  background-color: #fff;
  border-radius: 4px;
  padding: 35px 30px 20px;
  position: relative;
  box-shadow: 0 9px 50px -14px #000;
}

.modal-title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 32px;
}

.modal-closer {
  z-index: 5;
  background-color: rgba(0, 0, 0, .69);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close-icon {
  z-index: 20;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.db-mobile-fixed-nav {
  color: #fff;
  background-color: #0f0f0f;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  height: 90vh;
  max-width: 400px;
  border-radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 12px 12px 8px -2px rgba(0, 0, 0, .19);
}

.html-embed {
  width: 100%;
  height: 90vh;
  border-radius: 20px;
}

.body {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .hero_section {
    background-image: var(--image-4b4df09), var(--image-i55328ed9);
    background-position: 100% 110%, 140% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_section {
    background-image: var(--image-4b4df09), var(--image-i55328ed9);
    background-position: 50% 120%, 110%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .hero_container {
    padding-top: 40px;
  }
}

@media screen and (max-width: 991px) {
  .hero_section {
    background-position: 100% 105%, 100% 100%;
    background-size: contain, 300px 350px;
  }

  .logo_image {
    width: 260px;
    height: 120px;
  }

  .hero_head {
    font-size: 46px;
    line-height: 60px;
  }

  .hero_para {
    font-size: 19px;
    line-height: 32px;
  }

  .db-mobile-fixed-nav {
    display: flex;
  }

  .container {
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section {
    background-position: 100% 103%, 110% 100%;
    background-size: contain, 240px;
  }

  .hero_container {
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20%;
  }

  .logo_image {
    width: 240px;
    height: auto;
  }

  .hero_head {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 50px;
  }

  .hero_para {
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .hero_button_wrapper {
    flex-flow: column;
    align-items: stretch;
  }

  .button_1 {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .button_2 {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .logo_wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container {
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
  }

  .html-embed {
    height: 100vh;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .hero_section {
    background-position: 100% 101.5%, 110% 100%;
    background-size: contain, 180px;
  }

  .logo_image {
    width: 180px;
  }

  .hero_head {
    font-size: 32px;
    line-height: 46px;
  }

  .hero_para {
    font-size: 16px;
    line-height: 28px;
  }

  .b1-txt, .b2-txt {
    font-size: 14px;
  }

  .modal-wrapper {
    padding: 30px;
  }

  .modal-body {
    padding: 20px 20px 15px;
  }

  .db-mobile-fixed-nav {
    align-items: stretch;
  }
}


