:root {
  --black: black;
  --white: white;
  --purple: #8f1e90;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero_section {
  background-image: var(--image-4b4df09), var(--image-i55328ed9);
  background-position: 100% 110%, 140% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.hero_container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-bottom: 15%;
  display: flex;
}

.logo_image {
  object-fit: cover;
  width: 280px;
  height: 140px;
}

.hero_head {
  color: #136462;
  text-align: center;
  margin-bottom: 20px;
  font-family: Playfair Display, sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 72px;
}

.hero_para {
  color: var(--black);
  text-align: center;
  margin-top: 20px;
  font-family: Inter Tight, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
}

.hero_button_wrapper {
  margin-top: 20px;
  display: flex;
}

.button_1 {
  border: .5px solid #8f1e90;
  border-radius: 26px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 42px;
  margin-right: 10px;
  text-decoration: none;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button_1:hover {
  transform: scale(1.02);
}

.b1-txt {
  color: #8f1e90;
  margin-right: 5px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.b1-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.button_2 {
  background-color: #8f1e90;
  border-radius: 26px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 42px;
  margin-left: 10px;
  text-decoration: none;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button_2:hover {
  transform: scale(1.02);
}

.b2-txt {
  color: var(--white);
  margin-right: 5px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.b2-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.container {
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: 90vh;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 12px 12px 8px -2px rgba(0, 0, 0, .19);
}

.html-embed {
  border-radius: 20px;
  width: 100%;
  height: 90vh;
}

.body {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav_bar {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_link_block {
  margin-bottom: 0;
  text-decoration: none;
}

.nav_link_txt {
  color: var(--purple);
  margin-right: 5px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.nav_link_txt:hover {
  font-weight: 600;
}

.privacy_policy_hero_section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 16px;
  display: flex;
}

.pph_container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  display: flex;
}

.refund_rich_txt {
  max-width: 1000px;
}

.paragraph {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8em;
}

.inner-container._588px {
  max-width: 588px;
}

.inner-container._588px.center {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.display-2-copy {
  float: none;
  clear: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Inter Tight, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.056em;
}

.div-block {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.go_back_button {
  width: 25px;
  height: 25px;
}

.back_button.w--current {
  margin-left: 10px;
}

.overflow_hidden {
  width: 100%;
  overflow: hidden;
}

.conatct-_section {
  justify-content: center;
  align-items: center;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.conatct_conatiner {
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  display: flex;
}

.line-rounded-icon.success-message-check {
  margin-bottom: 6px;
  font-size: 22px;
}

.line-rounded-icon.success-message-check.large {
  margin-bottom: 16px;
  font-size: 80px;
  line-height: 88px;
}

.color-neutral-300 {
  color: #eff0f6;
}

.success-message {
  color: #4a3aff;
  background-color: #f3f2ff;
  border-radius: 24px;
  padding: 28px 28px 32px;
}

.text-area {
  background-color: #fff;
  border: 1px solid #c2c2c5;
  border-radius: 22px;
  min-height: 144px;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 28px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .08);
}

.text-area:hover {
  border-color: var(--purple);
  box-shadow: 0 2px 12px rgba(20, 20, 43, .1);
}

.text-area:focus {
  border-color: var(--purple);
  color: #211f54;
}

.text-area::placeholder {
  color: #6e7191;
  font-size: 18px;
}

.text-200 {
  line-height: 20px;
}

.text-200.bold {
  font-weight: 700;
}

.text-200.bold.mg-top-8px {
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
}

.text-200.medium {
  font-weight: 500;
}

.text-200.medium.color-neutral-800 {
  font-family: Inter Tight, sans-serif;
  font-weight: 400;
}

.container-default {
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
}

.icon-link-2-texts-wrapper {
  color: var(--black);
  transform-style: preserve-3d;
  align-items: center;
  text-decoration: none;
  transition: transform .3s, color .3s;
  display: flex;
}

.icon-link-2-texts-wrapper:hover {
  transform: translate3d(8px, 0, .01px);
}

.mg-bottom-48px {
  margin-bottom: 20px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.grid-2-columns {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.grid-2-columns.contact-v6 {
  grid-column-gap: 60px;
  grid-template-columns: 1.1fr 1fr;
  align-items: start;
}

.card {
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 24px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
}

.card.pd-64px---56px {
  padding: 64px 56px;
}

.error-message {
  color: #ff5a65;
  text-align: center;
  background-color: #ffeff0;
  border-radius: 16px;
  margin-top: 20px;
  padding: 20px 24px;
}

.square-icon {
  border-radius: 16px;
}

.square-icon.mg-right-16px.mg-bottom-16px-mb {
  mix-blend-mode: color;
  object-fit: fill;
  width: 70px;
  height: 70px;
  padding: 20px;
}

.btn-primary {
  background-color: var(--purple);
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  border-radius: 48px;
  justify-content: center;
  padding: 26px 38px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(143, 30, 144, .7);
  transform: translate3d(0, -3px, .01px);
}

.grid-1-column {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.input {
  background-color: #fff;
  border: 1px solid #c1c1c4;
  border-radius: 100px;
  min-height: 70px;
  margin-bottom: 0;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 20px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .08);
}

.input:hover {
  border-color: var(--purple);
  box-shadow: 0 2px 12px rgba(20, 20, 43, .1);
}

.input:focus {
  color: #211f54;
  -webkit-text-stroke-color: var(--purple);
  border-color: #4a3aff;
}

.input::placeholder {
  color: #6e7191;
  -webkit-text-stroke-color: var(--purple);
  font-size: 18px;
}

.subtitle {
  color: var(--purple);
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 8px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.mg-bottom-40px {
  margin-bottom: 40px;
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.heading {
  font-family: Inter Tight, sans-serif;
  font-weight: 500;
}

.heading-2 {
  color: var(--purple);
  font-family: Inter Tight, sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .hero_section {
    background-image: var(--image-4b4df09), var(--image-i55328ed9);
    background-position: 100% 110%, 140% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_section {
    background-image: var(--image-4b4df09), var(--image-i55328ed9);
    background-position: 50% 120%, 110%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .hero_container {
    padding-top: 40px;
  }

  .grid-2-columns.contact-v6 {
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
  }

  .grid-2-columns.form {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 991px) {
  .hero_section {
    background-position: 100% 105%, 100% 100%;
    background-size: contain, 300px 350px;
  }

  .logo_image {
    width: 260px;
    height: 120px;
  }

  .hero_head {
    font-size: 46px;
    line-height: 60px;
  }

  .hero_para {
    font-size: 19px;
    line-height: 32px;
  }

  .container {
    max-width: 400px;
  }

  .html-embed {
    height: 100%;
  }

  .nav_link_block {
    margin-left: 2%;
    margin-right: 2%;
  }

  .privacy_policy_hero_section {
    height: auto;
  }

  .paragraph {
    font-size: 22px;
  }

  .inner-container._588px.center {
    margin-bottom: 10px;
  }

  .display-2-copy {
    font-size: 40px;
  }

  .div-block {
    justify-content: flex-start;
    align-items: center;
  }

  .back_button.w--current {
    margin-left: 10px;
    margin-right: 10px;
  }

  .conatct-_section {
    min-height: auto;
  }

  .mg-bottom-48px {
    margin-bottom: 40px;
  }

  .grid-2-columns.contact-v6 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .card.pd-64px---56px {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .btn-primary {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .subtitle {
    letter-spacing: 0;
    text-transform: capitalize;
    font-family: Inter Tight, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .heading {
    font-size: 28px;
    line-height: 38px;
  }

  .heading-2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section {
    background-position: 100% 103%, 110% 100%;
    background-size: contain, 240px;
  }

  .hero_container {
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20%;
  }

  .logo_image {
    width: 240px;
    height: auto;
  }

  .hero_head {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 50px;
  }

  .hero_para {
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .hero_button_wrapper {
    flex-flow: column;
    align-items: stretch;
  }

  .button_1 {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .button_2 {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .logo_wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container {
    width: 100%;
    height: 90vh;
    margin-left: 10px;
    margin-right: 10px;
  }

  .html-embed {
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .nav_bar {
    flex-flow: row;
    justify-content: center;
    display: flex;
  }

  .nav_link_block {
    margin-left: 2%;
    margin-right: 2%;
  }

  .nav_link_txt {
    text-align: center;
    margin-right: 0;
  }

  .paragraph {
    font-size: 21px;
  }

  .inner-container._588px.center {
    margin-bottom: 10px;
  }

  .display-2-copy {
    margin-top: 0;
    font-size: 38px;
  }

  .bold-text {
    font-size: 20px;
    line-height: 1.2em;
  }

  .list, .list-2, .list-3, .list-4, .list-5, .list-6, .list-7, .list-8 {
    padding-left: 20px;
  }

  .go_back_button {
    width: 22px;
    height: 22px;
  }

  .back_button.w--current {
    margin-left: 5px;
    margin-right: 5px;
  }

  .overflow_hidden {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .line-rounded-icon.success-message-check.large {
    font-size: 68px;
    line-height: 73px;
  }

  .text-area {
    border-radius: 18px;
    font-size: 17px;
    line-height: 20px;
  }

  .text-200 {
    font-size: 16px;
    line-height: 18px;
  }

  .text-200.bold.mg-top-8px {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
  }

  .text-200.medium.color-neutral-800 {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }

  .icon-link-2-texts-wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .mg-bottom-48px {
    text-align: center;
    margin-bottom: 32px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .grid-2-columns.form {
    grid-row-gap: 20px;
  }

  .card.pd-64px---56px {
    padding: 20px 32px;
  }

  .square-icon {
    border-radius: 12px;
    max-width: 56px;
  }

  .square-icon.mg-right-16px.mg-bottom-16px-mb {
    max-width: none;
  }

  .btn-primary {
    width: 100%;
    padding: 20px 32px;
  }

  .grid-1-column.gap-row-24px {
    grid-template-columns: 1fr 1fr;
  }

  .input {
    min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 17px;
  }

  .subtitle {
    text-align: center;
  }

  .mg-bottom-40px {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
  }

  .heading {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }

  .heading-2 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .hero_section {
    background-position: 100% 101.5%, 110% 100%;
    background-size: contain, 180px;
  }

  .hero_container {
    margin-top: 10%;
    margin-bottom: 0%;
  }

  .logo_image {
    width: 60%;
  }

  .hero_head {
    font-size: 32px;
    line-height: 46px;
  }

  .hero_para {
    font-size: 16px;
    line-height: 28px;
  }

  .b1-txt, .b2-txt {
    font-size: 14px;
    line-height: 22px;
  }

  .container {
    height: 90vh;
    box-shadow: 12px 12px 8px -2px rgba(0, 0, 0, .19);
  }

  .html-embed {
    height: 100%;
  }

  .nav_bar {
    flex-flow: column;
    margin-top: 0;
  }

  .nav_link_block {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nav_link_txt {
    font-size: 14px;
    line-height: 22px;
  }

  .pph_container {
    margin-top: 40px;
  }

  .paragraph {
    font-size: 20px;
  }

  .inner-container._588px.center {
    margin-bottom: 0;
  }

  .display-2-copy {
    font-size: 35px;
  }

  .div-block {
    top: 5%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .conatct_conatiner {
    width: auto;
  }

  .line-rounded-icon.success-message-check.large {
    font-size: 58px;
    line-height: 64px;
  }

  .text-area {
    font-size: 16px;
  }

  .container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .icon-link-2-texts-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mg-bottom-48px {
    margin-bottom: 32px;
  }

  .grid-2-columns.contact-v6 {
    grid-row-gap: 20px;
  }

  .card.pd-64px---56px {
    padding: 0 24px;
  }

  .square-icon {
    border-radius: 14px;
    max-width: 56px;
  }

  .square-icon.mg-right-16px.mg-bottom-16px-mb {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .btn-primary {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .grid-1-column.gap-row-24px {
    grid-template-columns: 1fr;
  }

  .input {
    font-size: 16px;
    line-height: 18px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 22px;
    display: none;
  }

  .heading {
    font-size: 20px;
    line-height: 30px;
  }
}

#w-node-_6ecee0f4-0a2c-a723-0dfb-c70a5b172081-048474c0 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6ecee0f4-0a2c-a723-0dfb-c70a5b172085-048474c0 {
  justify-self: start;
}

#w-node-_6ecee0f4-0a2c-a723-0dfb-c70a5b172097-048474c0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_6ecee0f4-0a2c-a723-0dfb-c70a5b172067-048474c0 {
    align-self: auto;
    justify-self: auto;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_6ecee0f4-0a2c-a723-0dfb-c70a5b172081-048474c0 {
    grid-column: span 1 / span 1;
  }
}


